<!DOCTYPE html>
<html lang="en_US">
    <head>
        <title>SysCheck: Index</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"/>
    </head>
    <body>
            <div class="topnav">
                <a href="/syscheck_dl">Download SysCheckME</a>
            </div>
            <center>
                <h1>Latest Uploads:</h1>
                <div class="content">
                    {{ uploadIndex|safe }}
                </div>
                <p>There are currently {{ report_count }} SysCheck(s) on this server.</p>
                <br>
                <p>or....</p>
                <br>
                <p>Enter you're SysCheck report ID here: <input type="text" id="report_id" placeholder="example">  <button type="button" id="submit-btn">Submit</button></p>
                <br>
                <hr>
                <br>
                <p>SysCheck server written by CrafterPika! <a href='https://github.com/CrafterPika/syscheck_receiver' target='_blank'>Source Code</a></p>
                <p>SysCheck by <a href="https://github.com/modmii/SysCheck-ModMii-Edition" target="_blank">XFlak & Co</a></p>
                <p>syscheck_receiver v{{ svr_ver }}</p>
                <p>© CrafterPika <script>document.write(new Date().getFullYear());</script></p>
            </center>
            <script src="{{ url_for('static', filename='main.js') }}"></script>
    </body>
</html>