<!DOCTYPE html>
<html lang="en_US">
    <head>
        <title>SysCheck Report: {{ report_id }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"/>
    </head>
    <body>

            <pre>
{{ report_content }}
            </pre>
            <br>
            <hr>
            <br>
            <center>
                <p>SysCheck server written by CrafterPika! <a href='https://github.com/CrafterPika/syscheck_receiver' target='_blank'>Source Code</a></p>
                <p>SysCheck by <a href="https://github.com/modmii/SysCheck-ModMii-Edition" target="_blank">XFlak & Co</a></p>
                <p>syscheck_receiver v{{ svr_ver }}</p>
                <p>© CrafterPika <script>document.write(new Date().getFullYear());</script></p>
            </center>
    </body>
</html>